snippet mod
define(function(require) {
  $0
});
endsnippet

snippet rq
var $1 = require('$1');
endsnippet

snippet rl
var $1 = require('./$1');
endsnippet

snippet rp
var $1 = require('../$1');
endsnippet

snippet fn
function($1) { $2 }
endsnippet

snippet def
function $1($2) {
	$3
}
endsnippet
